{% extends "base.html" %}
{% block header %}<h1>Party Source</h1>{% endblock %}
{% block title %}<h2>Details</h2>{% endblock %}
{% block primary %}
    {% for item in bottle_details.items %}
        <!--img src="https://www.thepartysource.com/express/{{ item.img }}"/-->
        <img src="https://www.thepartysource.com/express/images/inventory/BOURBON-BULLEIT.jpg" /><br/>
        <b>Name:</b> {{ item.name }}<br/>
        <b>Description:</b> {{ item.desc }} <br/>
        <b>ABV:</b> {{item.ABV}} <br/>
    {% endfor %}
{% endblock %}

