{% extends "base.html" %}
{% block header %}<h1>Party Source</h1>{% endblock %}
{% block title %}<h2>Details</h2>{% endblock %}
{% block primary %}
        <img src="{{ bottle_details.imgsrc }}"/><br/>
    {% for item in bottle_details.items %}
        <b>Name:</b> {{ item.name }}<br/>
        <b>Description:</b> {{ item.desc }} <br/>
        <b>Category:</b> {{item.cat}} <br/>
        <b>Classification:</b> {{item.}} <br/>
        <b>Product Type:</b> {{item.prodtype}} <br/>
        <b>Style 1:</b> {{item.style1}} <br/>
        <b>Style 2:</b> {{item.style2}} <br/>
        <b>Age:</b> {{item.age}} <br/>
        <b>Brand:</b> {{item.brand}} <br/>
        <b>Origin:</b> {{item.origin}} <br/>
        <b>Region:</b> {{item.region}} <br/>
        <br/>        
        <b>ABV:</b> {{item.ABV}} <br/>
        <b>Package:</b> {{item.package}} <br/>
        <b>Container:</b> {{item.container}} <br/>
        <b>UOM:</b> {{item.UOM}} <br/>
        <b>Size:</b> {{item.size}} <br/>
        <br/>
        <b>QOH:</b> {{item.QOH}} <br/>
        <b>Price:</b> {{item.price}} <br/>
        <b>Retail:</b> {{item.retail}} <br/>
    {% endfor %}
    <b>Price per ML:</b> {{ bottle_details.PPU }}
{% endblock %}

