{% extends "base.html" %}
{% block header %}<h1>Party Source</h1>{% endblock %}
{% block title %}Party title {% endblock %}
{% block primary %}
<h3> Table of bottles</h3>
{% if my_bottles.items %}
<table id="myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Style</th>
            <th>Brand</th>
            <th>Package</th>
            <th>On-Hand</th>
            <th>Price</th>
            <th>$/5th</th>
            <th>Investment</th>
            <th>Discount Price</th>
            <th>Disc $/5th</th>
        </tr>
    </thead>
    <tbody>
        {% for bottle in my_bottles.items %}
        <tr>
            <td><a href="/partysource/{{ bottle.PSID }}/details">{{ bottle.name }}</a></td>
            <td>{{ bottle.prodtype }}</td>
            <td>{{ bottle.style1 }}</td>
            <td>{{ bottle.brand }}</td>
            <td>{{ bottle.package }}</td>
            <td>{{ bottle.QOH }}</td>
            <td>{{ bottle.price }}</td>
            <td>{{ bottle.PPU }}</td>
            <td>{{ bottle.invstmt }}</td>
            <td>{{ bottle.dPrice }}</td>
            <td>{{ bottle.dPPU }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p> No bottles here!; update the DB </p>
{% endif %}
{% endblock %}
