{% extends "base.html" %}
{% block header %}<h1>Party Source</h1>{% endblock %}
{% block title %}Find a Bottle{% endblock %}
{% block primary %}
<a href="/partysource">Back</a>
<form action="" method="get">
    <fieldset class="form-group">
        {{ all_bottles.form.as_p }}
        <input type="submit" />
    </fieldset>
</form>
<h3> Table of bottles</h3>
{% if all_bottles %}
<table id="myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Style</th>
            <th>Brand</th>
            <th>Package</th>
            <th>On-Hand</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for bottle in all_bottles %}
        <tr>
            <td><a href="/partysource/{{ bottle.PSID }}/details">{{ bottle.name }}</a></td>
            <td>{{ bottle.prodtype }}</td>
            <td>{{ bottle.style1 }}</td>
            <td>{{ bottle.brand }}</td>
            <td>{{ bottle.package }}</td>
            <td>{{ bottle.QOH }}</td>
            <td>{{ bottle.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p> No bottles; update the DB </p>
{% endif %}
{% endblock %}
